<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit chat</title>
  </head>
  <body>
    <h1>Here you can edit chat</h1>
    <form method="post" action="/chat/<%= chat._id %>?_method=PUT">
      <p>From: <b> <%= chat.from %></b></p>
      <p>To: <b> <%= chat.to %></b></p>
      <textarea name="mgs" id="" cols="20" rows="10"><%= chat.mgs %></textarea
      ><br />
      <button>Edited</button>
    </form>
  </body>
</html>
