<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New chat</title>
  </head>
  <body>
    <h1>Create new chat</h1>
    <form method="post" action="/chat">
      <input type="text" placeholder="who are you?" name="from" /><br /><br />
      <input type="text" placeholder="receiver name" name="to" /><br /><br />
      <textarea
        name="mgs"
        id=""
        cols="20"
        rows="10"
        placeholder="write your message...."
      ></textarea
      ><br />
      <button>Send</button>
    </form>
  </body>
</html>
